<div mat-dialog-actions>
  <form class="col-md-8">
    <input class="search form-control" mat-input [(ngModel)]="editList.name" value="{{editList.name}}" name="search"
      placeholder="Enter List Name" required><br />
    <input class="desc form-control" mat-input [(ngModel)]="editList.desc" value="{{editList.desc}}" name="listDesc"
      placeholder="Enter List Description" required><br />
    <button mat-raised-button (click)="updateList()" class="btn btn-primary">Update</button>
  </form>
</div>