<div class="container margin">
  <div class="row">
    <div style="margin-right: 740px;">
        <h2>Search</h2>
        <input type="search" class="form-control" mat-input [(ngModel)]="searchQuery" name = "searchQuery" (keyup)="search($event.target.value)">
       
    </div>
    <div>
      <button [routerLink]="['/favorites']"  class=" btn btn-primary ">Go to Favorities</button>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-3 mydivouter" *ngFor="let image of response; let i=index;">
      <img src='{{image.urls.small}}' style="height:200px; width:300px;" (mouseover)="onhover(image)"/>
      <div class="mybuttonoverlap">
        <input type="button" class=" btn-info btn-sm" (click)="addSelected(image)" [disabled] = "disableBtn" value="Add To Favourites" />
        <input type="button" class=" btn-info btn-sm" (click)="authorPage(image)" value="Author Page" />
      </div>
    </div>
  </div>
</div>